* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::before, .clearfix::after {
    display: block; content:''; clear:both;
}


/* layout */
#wrap {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

#header {width: 100%; height: 10%; float: left; background-color: #aaa;}
#side {width: 20%; height: 70%; float: left; background-color: #bbb;}
#content {width: 80%; height: 70%; float: left; background-color: #ccc;}
#footer {width: 100%; height: 20%; float: left; background-color: #ddd;}


/* side */
#side .menu {
    width: 100%;
}
#side .menu li {
    width: 100%;
    list-style: none;
}
#side .menu li a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    background-color: thistle;
    color: #000;
}
#side .menu li a:hover {
    color : white;
}


/* content */





















