
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style
            include ../css/main_style.css
            block style 
                
    body
        #wrap
            header#header
                block header
            aside#side 
                ul.menu
                    each i in diary 
                        li
                            a(href=`/diary/${i.id}`) #{i.title}
            section#content
                block content
            footer#footer
                block footer 