* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::before, .clearfix::after {
    display: block; content:''; clear:both;
}


/* layout */
#wrap {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

#header {width: 100%; height: 10%; float: left;    background-color: #D9B5A7;}
#side {width: 20%; height: 70%; float: left; background-color: #8C7E7D;}
#content {width: 80%; height: 70%; float: left; background-color: #D9B0A7;}
#footer {width: 100%; height: 20%; float: left; background-color: #ddd;}

/* header */
#header h1.title {
    width: 20%; height: 100%;
    text-align: center;
    padding: 10px;
}

#header h1.title span:nth-child(1) {
    color: #261511;
}

#header h1.title span:nth-child(2) {
    color: #BF5E5E;
}


/* side */
#side .menu {
    width: 100%;
}
#side .menu li {
    width: 100%;
    list-style: none;
}
#side .menu li a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    color: white;
}
#side .menu li a:hover {
    background: rgba(0,0,0,0.1);
}


/* content */
#content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content .wrap {
    width: 70%;
    height: 70%;
    position: relative;
}

.wrap .title {
    margin-bottom: 10px;
}

.wrap .description {
    margin-top: 5px;
}

.wrap input[type="button"]{
    position: absolute;
    bottom: 0; right: 0;
    padding: 3px;
}

/* 
form fieldset {
    padding: 10px;
}

form legend {
    font-weight: bold;
    font-size: 20px;
}

form li {
    list-style: none;
    padding: 10px;
}

form textarea {
    width: 100%;
}

form input[type="submit"] {
    padding: 5px;
    background-color: lightpink;
    font-weight: bold;
} */

/* #content .wrap .title {
    margin-top: 200px;
    text-align: center;
}
#content .wrap a.create {
    display: block;
    margin-top: 50px;
    text-align: center;
} */





















